
    #sakai{
    
        background-color: #252934;
        .footer{
            background-image: url('../img/pattern.png');

    background-position: center center;
    background-repeat: no-repeat;
    padding: 85px 0px 60px;
            .footer-left-right{
                .footer-left1{
                
    margin-bottom: 40px;
                    .logo-widget{
                    
                        padding-right: 50px;
                        .logo{
                    
                            margin-bottom: 25px;
                            .logo-a{
                                text-decoration: none;
                                cursor: pointer;
                                color: #2fc42b;
                                img{

                                }
                            }

                        }
                        .footer-text{
            
                            color: #bfbfbf;
                            font-size: 15px;
                            line-height: 25px;
                            margin-bottom: 15px;
                            font-family: "Changa", sans-serif;
                            font-weight: 400;
                            

                        }
                        .contact{
                            
                            .info-list{
                                font-size: 15px;
                                line-height: 32px;
                                color: #ffffff;
                                font-weight: 500;
                                font-family: "Ubuntu", sans-serif;
                            

                            }
                        }
                    }
                }
                .footer-left2{
        
                    margin-bottom: 40px;
                    .links-widget{
                        padding-top: 15px ;
                        .left2-text{
                
                            color: #ffffff;
                            font-size: 17px;
                            font-weight: 700;
                            margin-bottom: 30px;
                            margin-left: 40px;
                            
                            text-transform: uppercase;

                        }
                        .widget-content{
                            .left2-menu{
                                
                                .left2-list{
                             
                                    list-style: none;
                                    
                                    a{
                                       
    font-size: 15px;
    line-height: 32px;
    color: #bfbfbf;
    font-weight: 400;
    text-decoration: none;
    

                                    }
                                }
                            }
                        }
                    }
                }
            }

            .footer-left-right{
                .footer-right1{
                    
                    margin-bottom: 40px;
                    .links-widget{
                        padding-top: 15px;
                        .right1-text{
                            position: relative;
                        
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-left: 40px;
    
                        }
                        .widget-content{
                            .right1-menu{
                            
                                .right1-list{
                                    list-style: none;
                            
                                    a{
                                       
                                        font-size: 15px;
                                        line-height: 32px;
                                        color: #bfbfbf;
                                        font-weight: 400;
                                        text-align: center;
                                        text-decoration: none;
                                        
                                    }

                                }
                            }
                        }
                    }
                }
                .footer-right2{
                
                    margin-bottom: 40px;
                    .newsletter-widget{
                        padding-top: 15px;
                        .right2-text{
                 
                            color: #ffffff;
                            font-size: 17px;
                            font-weight: 700;
                            margin-bottom: 30px;
                            text-transform: uppercase;
                            

                        }
                        .newsletter-form{
                            position: relative;
                            display: block;
                            margin-bottom: 35px;
                            form{
                                .form-right-group{
                                
                                    display: block;
                                    margin-bottom: 0px;
                                    
                                    
                                    
                                
                                    .form-inp{
                                     
    display: block;
    width: 100%;
    line-height: 30px;
    padding: 7px 20px;
    padding-right: 115px;
    height: 44px;
    font-size: 15px;
    color: #61646a;
    background-color: #282d38;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    &:focus{
        outline: 1px solid #2fc42b !important;
        transition: all 0.3s ease;
        box-shadow: none;
    }

                                    }
                                    .theme-btn{
                                        padding: 7px 32px;
                                    
    line-height: 26px;
    text-transform: uppercase;
    background: #2fc42b;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #2fc42b;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    

    
    
    &:hover{
            background: transparent;
            // background: #2fc42b;
            color: #2fc42b;
        
       
    }    

                                    }
                                }
                            }
                        }
                        .social{
                           
                            .social-list{
                               
    margin-bottom: 5px;
    margin-right:8px;
    display: inline-block;  
       a{
  
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: #4b515f;
        line-height: 30px;

        display: inline-block;
      
        &:hover{
            color: #2fc42b;
            transition: all 0.5s ease;
        }

 

                                .fa{

                                    display: inline-block;

                                }
                            }
                            }
                        }

                    }
                }
            }
        }
    }

    @media screen and (max-width: 465px){
        .theme-btn{
            position: relative !important;
            width: 100%;
        
        }
        
        .logo-widget{
            padding-right: 0 !important;
        }
    }
    @media screen and (max-width: 765px){
        .theme-btn{
           margin-top: 16px;
        
        }
    }

    @media screen and (max-width: 762px)
    {
        .theme-btn{
            
        }
    }