#seo{


    padding: 140px 0px 110px;
    text-align: center;
    .text-seo{
    font-size: 30px;
    line-height: 1.4em;
    color: #222222;
    margin-bottom: 25px;
    font-weight: 700;
    }
    .text{
        font-size: 15px;
        line-height: 25px;
        color: #aaaaaa;
        font-family: $font-changa;
        font-weight: 300;
        max-width: 940px;
        margin: 0 auto 60px;   
    }
    .form{
  
    max-width: 1000px;
    margin: 0 auto 20px;
    form{
      
    }
    .form-group{
        margin-bottom: 15px;
    .form-control{
       
        color: #aaaaaa;
        font-size: 14px;
        font-weight: 300;
        font-family:$font-changa;
        border-radius: 5px;
        border: 1px solid transparent;
        background-color: #edf7ff;    
        transition: all 0.3s ease;
        position: relative;
        display: block;
        width: 100%;
        line-height: 30px;
        padding: 14px 30px;
        height: 60px;
       &:focus{
            border: 1px solid #2fc42b !important;
            transition: all 0.3s ease;
            box-shadow: none;
        }
    }
    }
    .form-group{
        line-height: 26px;
        display: block;
        width: 100%;
        .button-form{
       
   width: 100%;
    letter-spacing: 1px;
    font-family: $font-ubuntu;
    border-radius: 5px;
    padding: 15px 38px;
    line-height: 24px;
    background: #2f3340;
    color: #ffffff;
    border: 2px solid #2f3340;
    font-size: 15px;
    font-weight: 00;
//   width: 300px;
    &:focus{
        border: 1px solid #2fc42b !important;
        transition: all 0.3s ease;
        box-shadow: none;
    }
    &:hover{
        cursor: pointer;
        background-color: #2fc42b;
        border:1px solid #2fc42b;
       
    }
        }
    }
  
    }
}
