.accordion-section{
    position: relative;
    padding: 200px 0px 100px;
    background-color: #f5f5f5;
    .container{
        padding: 0 15px;
    }
    .img{
        margin: -70px 0px 0px;
        width: 100% !important;
        img{
            position: relative;
        left: -20px;
        top: 0px;
        max-width: none;
        display: block;
        width: 100% !important;
        animation-name: digitalAnim;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        }
    }
    .column{
    }
    h2{
  
    color: #222222;
    font-size: 35px;
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 26px;
    }
    p{
    color: #333333;
    font-size: 18px;
    line-height: 25px;
    font-family: "Changa",sans-serif;
    font-weight: 300;
    margin-bottom: 25px;
    }
    .accordion-block{
    position: relative;
    padding: 10px 0px;
    margin-bottom: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 14px 0px rgba(237,237,237,1);
    -moz-box-shadow: 0px 4px 14px 0px rgba(237,237,237,1);
    -ms-box-shadow: 0px 4px 14px 0px rgba(237,237,237,1);
    -o-box-shadow: 0px 4px 14px 0px rgba(237,237,237,1);
    box-shadow: 0px 4px 14px 0px rgba(237,237,237,1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s  ease;
    -ms-transition: all 1s  ease;
    -o-transition: all 1s  ease;
    transition: all 1s  ease;
  
      
    
    .count{
        font-family: "Changa",sans-serif;
        font-weight: 300;
        position: absolute;
        left: 30px;
        top: 13px;
        color: #333333;
    }
    .accordion-header{
        position: relative;
        font-size: 15px;
        color: #aaaaaa;
        cursor: pointer;
        line-height: 30px;
        font-weight: 400;
        padding: 0px 50px 0px 64px;
        -webkit-transition: all 1s  ease;
        -moz-transition: all 1s  ease;
        -ms-transition: all 1s  ease;
        -o-transition: all 1s  ease;
        transition: all 1s  ease;
       
        &::after{
            content: "\f0da";
            font-family: "FontAwesome";
            position: absolute;
            right: 15px;
        }
    }
    .content {
        margin-bottom: 20px;
    line-height: 26px;
    font-size: 15px;
    color: #aaaaaa;
    height: 0px;
    overflow: hidden;
    font-size: 14px;
    padding: 0px 50px 0px 64px;
    -webkit-transition: all 1s  ease;
    -moz-transition: all 1s  ease;
    -ms-transition: all 1s  ease;
    -o-transition: all 1s  ease;
    transition: all 1s  ease;
  
     
    }
    }
    .active{
       
        .content{
           height: 100px;
        }
        .count{
            color: green;
        }
        .accordion-header::after{
            color: green;
            content: "\f0d7";
        }
        .accordion-header{
            color: #333333 !important;
        }
    }

}



@keyframes digitalAnim{
    0%{
        transform: translateX(-20px);   
     }
    100%{
        transform: translateX(20px);            
     }

    }