
    #sakai{
        position: relative;
        background-color: #252934;
        .footer{
            background-image: url('../img/pattern.png');
            position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 85px 0px 60px;
            .footer-left-right{
                .footer-left1{
                    position: relative;
    margin-bottom: 40px;
                    .logo-widget{
                        position: relative;
                        padding-right: 50px;
                        .logo{
                            position: relative;
                            margin-bottom: 25px;
                            .logo-a{
                                text-decoration: none;
                                cursor: pointer;
                                color: #2fc42b;
                                img{

                                }
                            }

                        }
                        .footer-text{
                            position: relative;
                            color: #bfbfbf;
                            font-size: 15px;
                            line-height: 25px;
                            margin-bottom: 15px;
                            font-family: "Changa", sans-serif;
                            font-weight: 400;

                        }
                        .contact{
                            position: relative;
                            .info-list{
                                font-size: 15px;
                                line-height: 32px;
                                color: #ffffff;
                                font-weight: 500;
                                font-family: "Ubuntu", sans-serif;

                            }
                        }
                    }
                }
                .footer-left2{
                    position: relative;
                    margin-bottom: 40px;
                    .links-widget{
                        padding-top: 15px ;
                        .left2-text{
                            position: relative;
                            color: #ffffff;
                            font-size: 17px;
                            font-weight: 700;
                            margin-bottom: 30px;
                            margin-left: 40px;
                            text-transform: uppercase;

                        }
                        .widget-content{
                            .left2-menu{
                                position: relative;
                                .left2-list{
                                    position: relative;
                                    list-style: none;
                                    a{
                                        position: relative;
    font-size: 15px;
    line-height: 32px;
    color: #bfbfbf;
    font-weight: 400;
    text-decoration: none;
    

                                    }
                                }
                            }
                        }
                    }
                }
            }

            .footer-left-right{
                .footer-right1{
                    position: relative;
                    margin-bottom: 40px;
                    .links-widget{
                        padding-top: 15px;
                        .right1-text{
                            position: relative;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-left: 40px;

                        }
                        .widget-content{
                            .right1-menu{
                                position: relative;
                                .right1-list{
                                    list-style: none;
                                    a{
                                        position: relative;
                                        font-size: 15px;
                                        line-height: 32px;
                                        color: #bfbfbf;
                                        font-weight: 400;
                                        text-decoration: none;
                                    }

                                }
                            }
                        }
                    }
                }
                .footer-right2{
                    position: relative;
                    margin-bottom: 40px;
                    .newsletter-widget{
                        padding-top: 15px;
                        .right2-text{
                            position: relative;
                            color: #ffffff;
                            font-size: 17px;
                            font-weight: 700;
                            margin-bottom: 30px;
                            text-transform: uppercase;

                        }
                        .newsletter-form{
                            position: relative;
                            display: block;
                            margin-bottom: 35px;
                            form{
                                .form-right-group{
                                    position: relative;
                                    display: block;
                                    margin-bottom: 0px;
                                
                                    .form-inp{
                                        position: relative;
    display: block;
    width: 100%;
    line-height: 30px;
    padding: 7px 20px;
    padding-right: 115px;
    height: 44px;
    font-size: 15px;
    color: #61646a;
    background-color: #282d38;
    border: 1px solid transparent;
    transition: all 0.3s ease;

                                    }
                                    .theme-btn{
                                        padding: 7px 32px;
    line-height: 26px;
    text-transform: uppercase;
    background: #2fc42b;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #2fc42b;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    right: 0;
    top: 0;

                                    }
                                }
                            }
                        }
                        .social{
                            position: relative;
                            .social-list{
                                position: relative;
    margin-bottom: 5px;
    margin-right:8px;
    display: inline-block;  
       a{
        position: relative;
        width: 30px;
        height: 30px;
        font-size: 14px;
        color: #4b515f;
        line-height: 30px;
        text-align: center;
        display: inline-block;

 

                                .fa{

                                    display: inline-block;

                                }
                            }
                            }
                        }

                    }
                }
            }
        }
    }
