.sections-h1{
    position: relative;
    font-size: 70px;
    line-height: 1em;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 15px;
}
.sections-ul{
    padding: 0;
    margin: 0;
    margin-left: 15px;
    .sections-li{
    display: inline-block;
    position: relative;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 7px;
    padding-right: 7px;
    text-transform: uppercase;
    cursor: default;
    display: inline-block;
    .sections-a{
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        color: $link-color;
        text-decoration: none;
       &:hover{
           color:#2fc42b;
       }
       &::after{
        position: absolute;
        content: '/';
        right: -5px;
        font-weight: 700;
        top: 0px;
        color: #ffffff;
       }
}
    }
}
