$font-ubuntu:'Ubuntu', sans-serif; 
$font-poppins:'Poppins', sans-serif;
$font-changa:'Changa', sans-serif;
$link-color: #ffffff;



//INDEX . HTML
@import 'partials/header';            //Header css in folder partials
@import 'partials/seo';               //Seo css in folder partials
@import 'partials/california';        //California css in folder partials
@import 'partials/fact';              //Fact css in folder partials
@import 'partials/business';          //Business css in folder partials
@import 'partials/gallery';           //Gallery css in folder partials
@import 'partials/services';          //Services css in folder partials
@import 'partials/people';            //People css in folder partials
@import 'partials/card';              //Card css in folder partials
@import 'partials/carousel';          //Carousel css in folder partials
@import 'partials/check';             //Check css in folder partials
@import 'partials/sakai';             //Sakai css in folder partials
@import 'partials/end';               //End css in folder partials
@import 'partials/back-to-top';       //Back-to-top css in folder partials
@import 'partials/slider';            //Main-Slider css in folder partials


//ABOUT . HTML
@import 'partials/vision';             //Vision css in folder partials

@import 'partials/talk';


@import 'partials/card-service';


@import 'partials/digital';


@import 'partials/google';

//Blog HTML

@import 'partials/blog';

//Contact HTML
@import 'partials/contact';





//TITLE
@import 'partials/title';



@import 'partials/people-pl';


//Case-Single HTML
@import 'partials/gallery-case';







.preloader{ 
    position:fixed; 
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:999999; 
	background-color:#ffffff; 
	background-position:center center; 
	background-repeat:no-repeat; 
	background-image:url('../img/loader.svg');
}
header{
    position: relative;
    top: 0;
    left: 0;
    // background-image: url('../img/image-1.jpg');
    width: 100%;
    //  height: 800px;
    //  height: 100%;
    background-position: center center;
}
.about-header{
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../img/about.jpg);
    width: 100%;
    // height: 555px;
   padding: 280px 0px 140px;
    background-position: center center;
    font-family: $font-ubuntu;
    text-align: center;
}

img{
    max-width: 100% !important;
}


@media (min-width: 992px){
.container {
    max-width: 100%;
}
}

.auto-container{
  position: static !important;
  padding: 0 15px;
  max-width: 1200px !important;
  margin: 0 auto !important;
}




@media screen and (max-width:475px){
    #sakai{
        text-align: center;
    }
}





@media screen and (max-width : 1024px){
    .about-header{
        h1{
            font-size: 35px;
        }
    }
}